<?xml version="1.0"?>
<configuration>
  	<connectionStrings>
		<add name="Constr" connectionString="Data Source=103.92.235.145;Initial Catalog=agrofres_ayd;User ID=Agrofres_ayd;Password=AND@1234" providerName="System.Data.SqlClient"/>
    
  <!--<add name="Constr" connectionString="Data Source=202.143.99.95NITIN-PC\NITIN;Initial Catalog=saavinat_AgroFresh;User ID=sa;Password=AND@123" providerName="System.Data.SqlClient"/>-->
	</connectionStrings>
  <system.web>
    
    <sessionState timeout="60" mode="InProc"></sessionState>
    <compilation debug="true" targetFramework="4.0"/> <customErrors mode="Off"/>
    
    <machineKey validationKey="52B3217F9A9F7B8CE24DEFBD3EDF2B698E37B2ADE33257FAD329A242C11579D0EEDDB67F94CCF27143DCA4BBF9667DDAE78EBEDDD9EABB7C7AB874B5EC443954" decryptionKey="8A3AD1DD400FF3A09F3F5CB27C0411D2E8C7792CE523FD7B" validation="SHA1"/>
  </system.web>
<system.windows.forms jitDebugging="true" />
</configuration> 